@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

}

.bg {

  background-image: url('/bg.svg');
  background-size: cover;

}

.bg3 {
  background-image: url('/minimalist-pink-wall-background.jpg');
  background-size: contain;
  background-repeat: repeat;
}

.bg2 {
  background-image: url('/2206_w019_n002_614b_p15_614.jpg');

}

.bg1 {
  background-image: url('/blank-brown-paper-textured-wallpaper.jpg');
  background-size: cover;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2.5s ease-out 0.1s forwards;
}

swiper {
  height: 700px;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

hr {
  border-color: rgb(59, 71, 87);
}

.bg4 {
  background-image: url('/pexels-arina-krasnikova-7002683.jpg');
  background-size: cover;
}

.bg5 {
  background-image: url('/pexels-resource-boy-13031765.jpg');
  background-size: cover;
}

.bg6 {
  background-image: url('/pexels-clarissa-schwarz-8941371.jpg');
  background-size: contain;
}

.swiper-button-prev-custom {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #ddd;
}

h2,
h3 {
  text-align: center;
}

.input_container {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 5px;
  outline: none;
}

.btn_container {
  text-align: center;
}

button {
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg,
      rgba(64, 175, 255, 1) 0%,
      rgba(63, 97, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 75, 64, 1) 100%);
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%);
}




.wrapper {
  display: flex;
  justify-content: center;
}

.scene {
  width: 260px;
  height: 200px;
  perspective: 5000px;
  position: relative;
}

.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  transform: translateZ(-300px);
  transform-style: preserve-3d;
}

.carousel__cell {
  position: absolute;
  width: 240px;
  left: 10px;
  height: 0px;
  margin-top: 200px;
}